<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAAF - Cleaning Company</title>
    <link rel="icon" href="assests/fav/favicon16.png" type="image/icon type" />
    <link rel="stylesheet" type="text/css" href="assests/css/style.css">
</head>
<body>
    <header>

        <div class="bg-img">
            <div id="navbar">
                <nav style="width:100%">
                    <div class="logo">
                        <img style="margin: 10 px;margin-left: -200px" src="assests/fav/1.png">
                        <h1 style="margin: -55px ; color:rgb(255, 255, 255); margin-left: 100px">SAAF-Cleaning Company </h1>
                    </div>
                    <ul>
                        <li><a class="active" href="#home">HOME</a></li>
                        <li><a href="#OurServices">OUR SERVICES</a></li>
                        <li><a href="#Pricing">PRICING</a></li>
                        <li><a href="#Aboutus">ABOUT US</a></li>
                        <li><a href="#Contactus">CONTACT US</a></li>
                    </ul>

                </nav>
            </div>
        </div>
    </header>
    <br>
    <main>

        <div id="home">
            <br>
            <br>
            <h2 style="color: rgb(5, 84, 84);"><u>HOME</u></h2>
            <br>
            <br>
            <h3>SAAF.PK - Bringing Excellence in Residential & Commercial cleaning services</h4>
        </div>
        <a href="#">
            <img class="imgcenter" style="width: 50%" src="assests/images/bg_1.jpg" alt="Home image" />
        </a>
        <br>
        <br>
        <p>We our customers with team of professional cleaning specialists, who are expert in tackling dirt and grime and leaves your home shinning.</p>
        <br>
        <br>
        <h3>
            A video about explaining our motive.</h4>
            <iframe width="1000" height="577" src="https://www.youtube.com/embed/4AJG87Fr0Dw" title="Cleaning Services in Karachi - ISB - Pindi - Lhr - Doorstep Service by Saaf.Pk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <br>
            <p>
                Our aim is to provide comprehensive, high quality, reliable cleaning & fumigation
                services to residential, commercial, corporate & industrial sectors.
            </p><p>
                Our main cleaning services includes: Sofa, Carpet, Floor, Deep House Cleaning, Building Cleaning,
                Car Interior, Mattress, Chair & More.
            </p>
            </div>
            <br>
            <br>


            <div id="OurServices">
                <h2 style="color: rgb(5, 84, 84);"><u>Our Services</u></h2>
                <a href="#">
                    <img class="imgcenter" style="width: 50%" src="assests/images/bg_12.jpg" alt="Services image" />
                </a>

                <p>
                    Being a Leader in the Cleaning Market We are providing very wide range of dynamic cleaning sectors services. Take a look below on our cleaning services.
                    <br>
                    <br>
                </p>
                <h3>
                    Sofa Cleaning</h4>
                    <a href="#">
                        <img class="imgcenter" style="width: 50%" src="assests/images/service/Sofa.jpg" alt="Sofa image" />
                    </a>
                    <p>We are providing our customers with a team of professional cleaning specialists, who are experts in tackling dirt and grime and leaves your home shinning.</p>
                    <h3>
                        Commercial Cleaning</h4>
                        <a href="#">
                            <img class="imgcenter" style="width: 50%" src="assests/images/service/commercial.jpg" alt="Commercial image" />
                        </a>
                        <p>
                            We are providing our customers with a team of professional cleaning specialists, who are experts in tackling dirt and grime and leaves your home shinning.
                        </p>
                        <h3>
                            Industrial Cleaning</h4>
                            <a href="#">
                                <img class="imgcenter" style="width: 50%" src="assests/images/service/Industrial.jpg" alt="Industrial image" />
                            </a>
                            <p>
                                We are providing our customers with a team of professional cleaning specialists, who are experts in tackling dirt and grime and leaves your home shinning.
                            </p>
            </div>
            <br>
            <br>

            <div id="Pricing">
                <h2 style="color: rgb(5, 84, 84);"><u>Pricing</u></h2>        <h3>
                    Delivery Time</h4>
                    <table class="imgcenter" style="width: 50%; " border="1">
                        <tr>
                            <th>Services </th>
                            <th>Cost per hour </th>
                            <th>Tax </th>
                        </tr>

                        <tr>
                            <td>Sofa cleaning;</td>
                            <td>100$ </td>
                            <td>5%</td>
                        </tr>

                        <tr>
                            <td>Commercial cleaning </td>
                            <td>150$</td>
                            <td>10% </td>
                        </tr>

                        <tr>
                            <td>Industrial cleaning</td>
                            <td>300%</td>
                            <td>5%</td>
                        </tr>
                    </table>
                    <br>
            </div>
            <br>
            <br>
            <div id="Aboutus">
                <h2 style="color: rgb(5, 84, 84);"><u>About Us</u></h2>
                <a href="#">
                    <img class="imgcenter" style="width: 50%" src="assests/images/about-3.jpg" alt="About us image" />
                </a>
                <p>Our outstanding, diligent management and work staff work ethic made us one of the leading cleaning company in town. We pride our experienced staff & extraordinary management who always take care of client needs & deliver more than client's expectations.<br></p>
                <p>We have been in the market more than 10 years from now. Saaf.Pk started from residential cleaning services & later on moved to commercial cleaning sectors. After successful step into commercial cleaning market then we moved toward industrial cleaning sectors.</p>
            </div>
            <br>
            <br>
            <div id="Contactus">
                <h2 style="color: rgb(5, 84, 84);"><u>Contact Us</u></h2>
                <h3>
                    Dont hesitate to contact us for any queries or to get a quote.</h4>
                    <a href="#">
                        <img class="imgcenter" style="width: 50%" src="assests/images/people.jpg" alt="contact image" />
                    </a>
                    <h3>
                        Address:</h4>
                        <p>Plaza #1, Office #2, Sialkot Pakistan</p>
                        <br>
                        <br>
                        <h3>
                            Email Address:</h4>
                            <p>saafcustomerservice@saaf.pk</p>
                            <br>
                            <br>
            </div>

    </main>
    <br>
    <footer>
        <br />
        <br />
        <img class="imgcenter" style="width: 10%" src="assests/fav/1.png" alt="logo" />
        <h3>
            Find us on</h4>
            <div>
                <a href="https://www.instagram.com/aoun_tech/" target="_blank">
                    <img class="imgcenter"
                         style="width: 3%"
                         src="assests/images/Instagram-Logo.png"
                         alt="Instagram-Logo" />SAAF Instagram Page
                </a>
                </br>
                <br>
                <a href="https://www.facebook.com/AounTech" target="_blank">
                    <img class="imgcenter"
                         style="width: 3%"
                         src="assests/images/facebook-logo.png"
                         alt="Facebook-logo" />SAAF Facebook Page
                </a>
            </div>
            <br>
            <div id="footer">
                <a href="#home">HOME</a>
                <a href="#OurServices">OUR SERVICES</a>
                <a href="#Pricing">PRICING</a>
                <a href="#Aboutus">ABOUT US</a>
                <a href="#Contactus">CONTACT US</a>
                <a class="copyright" href="#">&copy;2022 | Ali Aoun </a>
            </div>
            <br>
            <h3>
                Established in 2010, SaafSafai.pk has become one of the capital’s most successful, dynamic, and professional cleaning company in Karachi, offering unbeatable service, reliability, and levels of customer care that have set an industry standard.
                </h4>

    </footer>
</body>
</html>
